@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="page-header">
        <h2>About</h2>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12">
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Company Details</h2>
            </div>
            <div class="panel-body text-justify">
                DCNE-Cake is a subset of the company<br />
                The company started in 2012 as a Complaint Report Software. 
            It brings customers closer to the products they purchase by giving each customer 
            a platform to give their feedback on the product purchased and consumed.

            This feedbacks help the producer of the product to serve you better!
            We are just creating a platform to reachout to your producers.
                <br />
                We are the middleman.
            </div>
            <div class="panel-footer panel-primary">
                <i>Bridging customer-producer relationship</i>
            </div>
        </div>
    </div>
</div>
