@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h2>Contact</h2>
        </div>

        <h3>Phone</h3>
        <h4>08138549501</h4>
        <br />

        <h3>Email</h3>
        <h4>Marketing : <a href="mailto:j.banti09@gmail.com">j.banti09@gmail.com</a></h4>
        <h4>Support : <a href="mailto:j.banti09@yahoo.com">j.banti09@yahoo.com</a></h4>

        <br />
        <h3>Address</h3>
        <address>
            Block H, Plot 33 Ithad Alakoniyi,<br>
            Agbede Olosugbo, Ikorodu<br>
            Lagos State.
        </address>
    </div>
</div>


